@model HydroSpecific
@{ 
}
<form asp-action="NextHydroSpecific" method="post">
    <input type="hidden" asp-for="JobID" />
    <input type="hidden" asp-for="HydroSpecificID" />
    <div class="form-group row has-warning has-feedback">
        <label asp-for="Starter" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="Starter" class="text-danger"></span></div>
        <input asp-for="Starter" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="HP" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="HP" class="text-danger"></span></div>
        <input asp-for="HP" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="FLA" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="FLA" class="text-danger"></span></div>
        <input asp-for="FLA" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="SPH" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="SPH" class="text-danger"></span></div>
        <input asp-for="SPH" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="MotorsNum" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="MotorsNum" class="text-danger"></span></div>
        <input asp-for="MotorsNum" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="ValveBrand" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="ValveBrand" class="text-danger"></span></div>
        <input asp-for="ValveBrand" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="ValveModel" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="ValveModel" class="text-danger"></span></div>
        <input asp-for="ValveModel" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="ValveNum" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="ValveNum" class="text-danger"></span></div>
        <input asp-for="ValveNum" class="form-control col-sm-7" />
    </div>
    <div class="form-group row">
        <label asp-for="ValveVoltage" class="col-sm-2 col-form-label"></label>
        <div><span asp-validation-for="ValveVoltage" class="text-danger"></span></div>
        <input asp-for="ValveVoltage" class="form-control col-sm-7" />
    </div>
    <div class="form-row col-sm-9">
        @*Grid for checkboxes*@
        <div class="form-group col-3 text-center">
            <label asp-for="Battery" class="col-form-label"></label>
            <div><span asp-validation-for="Battery" class="text-danger"></span></div>
            <input asp-for="Battery" class="form-control" />
        </div>
        <div class="form-group col-8">
            <label asp-for="BatteryBrand" class="col-form-label"></label>
            <div><span asp-validation-for="BatteryBrand" class="text-danger"></span></div>
            <input asp-for="BatteryBrand" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="LifeJacket" class="col-form-label text-center"></label>
            <div><span asp-validation-for="LifeJacket" class="text-danger"></span></div>
            <input asp-for="LifeJacket" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="LOS" class="col-form-label"></label>
            <div><span asp-validation-for="LOS" class="text-danger"></span></div>
            <input asp-for="LOS" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="OilCool" class="col-form-label"></label>
            <div><span asp-validation-for="OilCool" class="text-danger"></span></div>
            <input asp-for="OilCool" class="form-control " />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="OilTank" class="col-form-label"></label>
            <div><span asp-validation-for="OilTank" class="text-danger"></span></div>
            <input asp-for="OilTank" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="PSS" class="col-form-label"></label>
            <div><span asp-validation-for="PSS" class="text-danger"></span></div>
            <input asp-for="PSS" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="Resync" class="col-form-label"></label>
            <div><span asp-validation-for="Resync" class="text-danger"></span></div>
            <input asp-for="Resync" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="Roped" class="col-form-label"></label>
            <div><span asp-validation-for="Roped" class="text-danger"></span></div>
            <input asp-for="Roped" class="form-control" />
        </div>
        <div class="form-group col-3 text-center">
            <label asp-for="VCI" class="col-form-label"></label>
            <div><span asp-validation-for="VCI" class="text-danger"></span></div>
            <input asp-for="VCI" class="form-control" />
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>