@model Indicators
@{ }
<form asp-action="NextIndicators" method="post">
    <input type="hidden" asp-for="JobID" />
    <input type="hidden" asp-for="IndicatorsID" />
    <div class="form-row col-sm-10">
        <div class="input-group col-5 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Car Calls</span>
            </div>
            <div><span asp-validation-for="CarCallsVoltage" class="text-danger"></span></div>
            <indicators select-for="Volts_Value" selected-value="@Model.CarCallsVoltage.ToString()" asp-for="CarCallsVoltage" class="form-control col-sm-7"></indicators>
            <div><span asp-validation-for="CarCallsVoltageType " class="text-danger"></span></div>
            <indicators select-for="Volts_Type" selected-value="@Model.CarCallsVoltageType" asp-for="CarCallsVoltageType" class="form-control col-sm-7"></indicators>
            <div><span asp-validation-for="CarCallsType" class="text-danger"></span></div>
            <indicators select-for="CallType" selected-value="@Model.CarCallsType" asp-for="CarCallsType" class="form-control col-sm-7"></indicators>
        </div>
        <div class="input-group col-5 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Hall Calls</span>
            </div>
            <div><span asp-validation-for="HallCallsVoltage" class="text-danger"></span></div>
            <input asp-for="HallCallsVoltage" class="form-control col-sm-7" />
            <div><span asp-validation-for="HallCallsVoltageType " class="text-danger"></span></div>
            <input asp-for="HallCallsVoltageType " class="form-control col-sm-7" />
            <div><span asp-validation-for="HallCallsType" class="text-danger"></span></div>
            <input asp-for="HallCallsType" class="form-control col-sm-7" />
        </div>
    </div>
    @*<div class="form-row col-sm-10">
            Grid for checkboxes
            <div class="form-group col-3 text-center">
                <label asp-for="StatusIndicatorsList" class="col-form-label"></label>
                <div><span asp-validation-for="FRON2" class="text-danger"></span></div>
                <input asp-for="FRON2" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="Attendant" class="col-form-label text-center"></label>
                <div><span asp-validation-for="Attendant" class="text-danger"></span></div>
                <input asp-for="Attendant" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="CarToLobby" class="col-form-label"></label>
                <div><span asp-validation-for="CarToLobby" class="text-danger"></span></div>
                <input asp-for="CarToLobby" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="EQ" class="col-form-label"></label>
                <div><span asp-validation-for="EQ" class="text-danger"></span></div>
                <input asp-for="EQ" class="form-control " />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="EMT" class="col-form-label"></label>
                <div><span asp-validation-for="EMT" class="text-danger"></span></div>
                <input asp-for="EMT" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="EP" class="col-form-label"></label>
                <div><span asp-validation-for="EP" class="text-danger"></span></div>
                <input asp-for="EP" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="FLO" class="col-form-label"></label>
                <div><span asp-validation-for="FLO" class="text-danger"></span></div>
                <input asp-for="FLO" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="Hosp" class="col-form-label"></label>
                <div><span asp-validation-for="Hosp" class="text-danger"></span></div>
                <input asp-for="Hosp" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="Ind" class="col-form-label"></label>
                <div><span asp-validation-for="Ind" class="text-danger"></span></div>
                <input asp-for="Ind" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="LoadWeigher" class="col-form-label"></label>
                <div><span asp-validation-for="LoadWeigher" class="text-danger"></span></div>
                <input asp-for="LoadWeigher" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="INA" class="col-form-label"></label>
                <div><span asp-validation-for="INA" class="text-danger"></span></div>
                <input asp-for="INA" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="INCP" class="col-form-label"></label>
                <div><span asp-validation-for="INCP" class="text-danger"></span></div>
                <input asp-for="INCP" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="SwitchStyle" class="col-form-label"></label>
                <div><span asp-validation-for="SwitchStyle" class="text-danger"></span></div>
                <custom-select select-for="SwitchStyle" selected-value="@Model.SwitchStyle" asp-for="SwitchStyle"></custom-select>
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="MView" class="col-form-label"></label>
                <div><span asp-validation-for="MView" class="text-danger"></span></div>
                <input asp-for="MView" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="IMon" class="col-form-label"></label>
                <div><span asp-validation-for="IMon" class="text-danger"></span></div>
                <input asp-for="IMon" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="IDS" class="col-form-label"></label>
                <div><span asp-validation-for="IDS" class="text-danger"></span></div>
                <input asp-for="IDS" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="CallEnable" class="col-form-label"></label>
                <div><span asp-validation-for="CallEnable" class="text-danger"></span></div>
                <input asp-for="CallEnable" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="CarCallCodeSecurity" class="col-form-label"></label>
                <div><span asp-validation-for="CarCallCodeSecurity" class="text-danger"></span></div>
                <input asp-for="CarCallCodeSecurity" class="form-control" />
            </div>
            <div class="form-group col-3 text-center">
                <label asp-for="SpecialInstructions" class="col-form-label"></label>
                <div><span asp-validation-for="SpecialInstructions" class="text-danger"></span></div>
                <input asp-for="SpecialInstructions" class="form-control" />
            </div>
        </div>*@
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>