@model State
@{
    ViewBag.Title = "Edit State";
    Layout = "_AdminLayoutWO";
    @*IEnumerable<Country> countries = ViewData["Countries"] as IEnumerable<Country>;*@
}
<form asp-controller="State" asp-action="Edit" method="post">
    <input type="hidden" asp-for="StateID" />
    <div class="form-group">
        <label asp-for="Country"></label>
        <div><span asp-validation-for="Country" class="text-danger"></span></div>
        @*<select asp-for="Country">
            <option>Please select one</option>
            @foreach (Country country in countries)
            {
                @if (Model.StateID != 0 && country.Name == Model.Country)
                {
                    <option value="@country.Name" selected">@country.Name</option>
                }
                else
                {
                    <option value="@country.Name">@country.Name</option>
                }
            }
        </select>*@
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>